In [3]:
%matplotlib inline
import pandas as pd

In [4]:
titles = pd.read_csv('E:\\python\\titles.csv')

titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [5]:
titles.isnull().sum()

title    0
year     0
dtype: int64

In [6]:
titles.isna().sum()

title    0
year     0
dtype: int64

### How many movies are listed in the titles dataframe?

In [7]:
print("The no of movies that are listed in the titles dataframe",len(titles.title))

The no of movies that are listed in the titles dataframe 244914

### What are the earliest two films listed in the titles dataframe?

In [8]:
twofilms=titles.sort_values("year").head(2)
twofilms

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:

movieshamlet= len(titles[titles.title == "Hamlet"])
print("The number of movies with Name 'Hamlet' are:",movieshamlet)

The number of movies with Name 'Hamlet' are: 20

### How many movies are titled "North by Northwest"?

In [10]:
moviesNorth = len(titles[titles.title == "North by Northwest"]) 
print("The number of movies with Name 'North by Northwest' are:",moviesNorth)

The number of movies with Name 'North by Northwest' are: 1

### When was the first movie titled "Hamlet" made?

In [11]:
movieshamlet= titles[titles.title == "Hamlet"]
fm = movieshamlet.sort_values("year").head(1)
print("The first movie titled \"Hamlet\" made in the year\n", fm)

The first movie titled "Hamlet" made in the year
         title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
moviesTreasure = titles[titles.title == "Treasure Island"].sort_values("year")
moviesTreasure

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
mcount1 = len(titles[titles.year == 1950])
print("The no of movies were made in the year 1950: ",mcount1)

The no of movies were made in the year 1950:  1113

### How many movies were made in the year 1960?

In [14]:
mcount2 = len(titles[titles.year == 1960])
print("The no of movies were made in the year 1950: ",mcount2)

The no of movies were made in the year 1950:  1549

### How many movies were made from 1950 through 1959?

$\alpha^2$

In [15]:
mcount3 = len(titles[(titles.year>=1950) & (titles.year<=1959)])
mcount3

12934

### In what years has a movie titled "Batman" been released?

In [16]:
movieBat = titles[titles.title == "Batman"]
print("Following are the years that a movie titled \"Batman\" been released:\n ",movieBat["year"])

Following are the years that a movie titled "Batman" been released:
  39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [17]:
cast = pd.read_csv('E:\\python\\cast.csv')
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [18]:
cast.isnull().sum()

title              0
year               0
name               0
type               0
character          0
n            1458573
dtype: int64

In [19]:
cast.isna().sum()

title              0
year               0
name               0
type               0
character          0
n            1458573
dtype: int64

In [21]:
mcast=cast.fillna(cast["n"].mean())

In [22]:
mcast.isnull().sum()

title        0
year         0
name         0
type         0
character    0
n            0
dtype: int64

In [23]:
castInception = mcast[mcast.title=="Inception"]
castInception

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,16.905993
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.000000
183937,Inception,2010,Tom Berenger,actor,Browning,8.000000
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,16.905993
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.000000
...,...,...,...,...,...,...
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.000000
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.000000
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.000000
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.000000
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.000000

In [24]:
print("The no of roles in the movie \"Inception\" are",len(castInception.character))

The no of roles in the movie "Inception" are 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [25]:
inception = cast[cast.title=="Inception"]
inception

,title,year,name,type,character,n
98153,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
197877,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
...,...,...,...,...,...,...
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

In [26]:
x = inception["n"].isnull().sum().sum()

print("There are", len(castInception.character),"roles out of them ",x,"are NOT ranked by an \"n\" value")

There are 78 roles out of them  27 are NOT ranked by an "n" value

### But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
y = len(inception["n"])
print("The no of roles received an n value is:", (y-x))

The no of roles received an n value is: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [28]:
northByNorthwest = cast[cast.title=="North by Northwest"]
northByNorthwest

,title,year,name,type,character,n
12668,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
29122,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
56389,North by Northwest,1959,Don Anderson,actor,Worker,NaN
56610,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
95950,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3577128,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3599912,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3739133,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3751311,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

In [29]:
northByNorthwest.isnull().sum()

title          0
year           0
name           0
type           0
character      0
n            100
dtype: int64

In [30]:
dfnorthByNorthwest = northByNorthwest.dropna()
dfnorthByNorthwest.isnull().sum()

title        0
year         0
name         0
type         0
character    0
n            0
dtype: int64

In [31]:
castNorthByNorthwest = dfnorthByNorthwest.sort_values("n")
castNorthByNorthwest

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [32]:
sleuth = cast[cast.title=="Sleuth"]
sleuth

,title,year,name,type,character,n
260242,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
326774,Sleuth,2007,Michael Caine,actor,Andrew,1.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
373877,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
1293634,Sleuth,2007,Jude Law,actor,Milo,2.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
1805907,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
2724552,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
3370424,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

In [33]:
sleuth1972 = sleuth[sleuth["year"]==1972]
sleuth1972

,title,year,name,type,character,n
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0

In [34]:
castSleuth1972 = sleuth1972.sort_values("n")
print("The cast of \"Sleuth\" movie in n order is\n\n",castSleuth1972.name)

The cast of "Sleuth" movie in n order is

 1705394      Laurence Olivier
326773          Michael Caine
373876         Alec Cawthorne
1465483    John (II) Matthews
2724553    Eve (III) Channing
1448690          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [36]:
sleuth

,title,year,name,type,character,n
260242,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
326774,Sleuth,2007,Michael Caine,actor,Andrew,1.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
373877,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
1293634,Sleuth,2007,Jude Law,actor,Milo,2.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
1805907,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
2724552,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
3370424,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

In [44]:
nSleuth = sleuth[sleuth.year == 2007].sort_values('n')
print("the entire cast\n",nSleuth["name"])

the entire cast
 326774           Michael Caine
1293634               Jude Law
1805907          Harold Pinter
260242         Kenneth Branagh
373877     Alec (II) Cawthorne
2724552      Eve (II) Channing
3370424      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [54]:
hamlet = cast[(cast.title=="Hamlet")]
hamlet

          title  year              name     type              character     n
1731     Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
7789     Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
11728    Hamlet  2009      Hayden Adams    actor                Laertes   7.0
11729    Hamlet  2009      Hayden Adams    actor                 Player   7.0
14493    Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...         ...   ...               ...      ...                    ...   ...
3673234  Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
3697397  Hamlet  2000      Diane Venora  actress               Gertrude   3.0
3728751  Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
3733637  Hamlet  2015   Katie (II) West  actress                Ophelia   7.0
3751232  Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[342 rows x 6 columns]

In [55]:
hamlet1921 = cast[(cast.title=="Hamlet") & (cast.year == 1921)]
len(hamlet1921.character)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [57]:
hamlet1996 = cast[(cast.title=="Hamlet") & (cast.year == 1996)]
len(hamlet1996.character)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [61]:
hamletRole = cast[cast.character=="Hamlet"]
hamletRole

,title,year,name,type,character,n
6286,Sugar,2008,Hamlet Abreu,actor,Hamlet,58.0
97830,Top of the Town,1937,Mischa Auer,actor,Hamlet,6.0
125190,The Sound of Spying,2014,Jonathan Ball,actor,Hamlet,NaN
160794,Suivez cet avion,1989,Fran?ois Beaulieu,actor,Hamlet,26.0
161104,Nous sommes les autres,2017,Marc Beaupr?,actor,Hamlet,NaN
...,...,...,...,...,...,...
2615644,Hamlet_X,2003,Meret Becker,actress,Hamlet,NaN
2728421,Bill Shakespeare in Hollywood,2011,Rafika Chawishe,actress,Hamlet,NaN
2944632,Intikam Melegi/Kadin Hamlet,1976,Fatma Girik,actress,Hamlet,1.0
3355176,Hamlet,1921,Asta Nielsen,actress,Hamlet,1.0
3405990,Hamlet,2015,Maxine Peake,actress,Hamlet,1.0

In [62]:
hamletRole = hamlet[hamlet.character=="Hamlet"]
hamletRole

          title  year                       name     type character    n
260225   Hamlet  1996            Kenneth Branagh    actor    Hamlet  5.0
312781   Hamlet  1964             Richard Burton    actor    Hamlet  1.0
432307   Hamlet  2017                  Tom Clear    actor    Hamlet  NaN
746646   Hamlet  1913  Johnston Forbes-Robertson    actor    Hamlet  2.0
826565   Hamlet  1990                 Mel Gibson    actor    Hamlet  1.0
842847   Hamlet  2016              Jonathan Goad    actor    Hamlet  NaN
961566   Hamlet  2000                Ethan Hawke    actor    Hamlet  1.0
1498929  Hamlet  1973               Rick McKenna    actor    Hamlet  NaN
1518580  Hamlet  2009             David Melville    actor    Hamlet  1.0
1530280  Hamlet  1976                David Meyer    actor    Hamlet  6.0
1531033  Hamlet  1976                 Tony Meyer    actor    Hamlet  5.0
1602320  Hamlet  1910          Jean Mounet-Sully    actor    Hamlet  NaN
1651237  Hamlet  1911                 Alwin Neu?    actor    Hamlet  1.0
1871597  Hamlet  2011               Bruce Ramsay    actor    Hamlet  1.0
1995606  Hamlet  1954               Kishore Sahu    actor    Hamlet  3.0
2454906  Hamlet  1969           Nicol Williamson    actor    Hamlet  1.0
3355176  Hamlet  1921               Asta Nielsen  actress    Hamlet  1.0
3405990  Hamlet  2015               Maxine Peake  actress    Hamlet  1.0

In [60]:
print("\"Hamlet\" roles have been listed in all film credits through history",len(hamletRole))

"Hamlet" roles have been listed in all film credits through history 18

### How many people have played an "Ophelia"?

In [63]:
opheliaRole = cast[cast.character=="Ophelia"]
opheliaRole

,title,year,name,type,character,n
248251,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
410247,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
470859,Inoperable,2017,Crystal Cordero,actor,Ophelia,NaN
866334,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
1364457,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
...,...,...,...,...,...,...
3722298,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3723039,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3733637,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3748118,National Theatre Live: Rosencrantz & Guildenst...,2017,Helen (IV) Wilson,actress,Ophelia,NaN
3751232,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

In [64]:
len(opheliaRole)

117

### How many people have played a role called "The Dude"?

In [65]:
theDudeRole = cast[cast.character=="The Dude"]
theDudeRole

,title,year,name,type,character,n
272161,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
339389,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
498660,Stranger,2000,Scott Crowell,actor,The Dude,NaN
570128,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
610791,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
629473,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
855976,A Few Brains More,2012,Michael D. Goodwin,actor,The Dude,NaN
1089444,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1138933,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1367230,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1386561,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,30.0
1512572,The Liq,2016,Mark Alan Meek,actor,The Dude,NaN
1540933,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1784519,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1824744,Cloud Air: The Movie,2013,Thomas (VIII) Porter,actor,The Dude,8.0
1838960,Hacks,1997,Jason Priestley,actor,The Dude,11.0
2202150,Carlos Spills the Beans,2013,Bobby Styles,actor,The Dude,NaN
2336261,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2419271,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

In [66]:
len(theDudeRole)

19

### How many people have played a role called "The Stranger"?

In [72]:
theStrangerRole = cast[cast.character=="The Stranger"]
theStrangerRole

,title,year,name,type,character,n
25954,Theeb,2014,Hassan Mutlag Al-Maraiyeh,actor,The Stranger,2.0
35748,My Time to Die,2014,Vincent H. Alexander,actor,The Stranger,2.0
46418,Hickok,2017,Terral Altom,actor,The Stranger,NaN
67421,Get Mean,1975,Tony Anthony,actor,The Stranger,1.0
67424,Lo straniero di silenzio,1968,Tony Anthony,actor,The Stranger,1.0
...,...,...,...,...,...,...
3219011,Ever Since Eve,1921,Ethel Lynne,actress,The Stranger,7.0
3405700,Weitertanzen,2008,Rosa Maria Paz,actress,The Stranger,NaN
3427715,The Godsend,1980,Angela Pleasence,actress,The Stranger,3.0
3567516,Motherland,1927,Dorinea Shirley,actress,The Stranger,NaN
3746949,The Seventh,2017,Kerry (II) Willison-Parry,actress,The Stranger,NaN

In [68]:
len(theStrangerRole)

212

### How many roles has Sidney Poitier played throughout his career?

In [74]:
sidneyPoitier = cast[cast.name=="Sidney Poitier"]
len(sidneyPoitier.name)

43

### How many roles has Judi Dench played?

In [75]:
judiDench  = cast[cast.name=="Judi Dench"]
len(judiDench.name)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [79]:
srCaryGrant = cast[(cast.name == "Cary Grant")&(cast.year==1940)&(cast.n==2.0)]
len(srCaryGrant)

1

 ### List the leading roles that Cary Grant played in the 1940s in order by year.

In [84]:
lrCaryGrant = cast[(cast.name == "Cary Grant")&(cast.year==1940)&(cast.n==1.0)]
len(lrCaryGrant)
#print(lrCaryGrant)

3

### How many roles were available for actors in the 1950s?

In [95]:
rolesActor = cast[(cast.year==1950) & (cast.type=="actor")]
len(rolesActor)

16760

In [92]:
len(roles)

22397

### How many roles were available for actresses in the 1950s?

In [96]:
rolesActress = cast[(cast.year==1950) & (cast.type=="actress")]
len(rolesActress)

5637

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [99]:
lRoles = cast[(cast.year>=1980) & (cast.n==1)]
lRoles.sort_values("year")

,title,year,name,type,character,n
95531,Otoko wa tsurai yo: Torajiro haibisukasu no hana,1980,Kiyoshi Atsumi,actor,Torajiro Kuruma,1.0
2266024,Wronsky,1980,Ross Thompson,actor,Wronsky,1.0
1642034,Lava,1980,Prem Nazir,actor,Ramu,1.0
1563974,On the Nickel,1980,Donald Moffat,actor,Sam,1.0
384101,Hot choi,1980,Danny Bak-Keung Chan,actor,Ken Chung,1.0
...,...,...,...,...,...,...
582111,In Sunshine and Shadow,2019,Tadhg Devery,actor,Gabe McKnight,1.0
594545,Infinite Payback,2020,Aaron Dill,actor,Nathen,1.0
2135010,Astronomy Walkers,2020,Aaron Smolinski,actor,Anthony Speranza,1.0
594544,Infinite Payback,2020,Aaron Dill,actor,Dark,1.0
594546,Infinite Payback,2020,Aaron Dill,actor,Random Guy,1.0

In [100]:
len(lRoles)

89276

### How many non-leading roles were available through from the beginning of film history through 1980?

In [101]:
nLRoles = cast[(cast.year>=1980) & (cast.n!=1)]
nLRoles.sort_values("year")

,title,year,name,type,character,n
2508173,E ye,1980,Wah Yuen,actor,Chang Piao,2.0
215932,Nijinsky,1980,Colin Blakely,actor,Vassili,6.0
3343555,Airplane!,1980,Kitten Natividad,actress,Bouncy Topless Woman on Plane,NaN
1894404,"Oh, God! Book II",1980,Richard Reicheg,actor,Psychiatrist 6,45.0
2729996,Da da xiao xiao yi jia chun,1980,Szu-Chia Chen,actress,1st Sister-in-law,4.0
...,...,...,...,...,...,...
508109,Avatar 5,2025,Cliff Curtis,actor,Tonowari,NaN
1579402,Avatar 5,2025,Joel David Moore,actor,Norm Spellman,NaN
2724388,100 Years,2115,Shuya Chang,actress,Hero Girl,NaN
1415428,100 Years,2115,John Malkovich,actor,Hero,NaN
2516044,100 Years,2115,Marko Zaror,actor,Bad Guy,NaN

In [102]:
len(nLRoles)

2537565

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [105]:
nanRoles = cast[(cast.year>=1980) & (cast.n.isnull())]
nanRoles.sort_values("year")

,title,year,name,type,character,n
3649170,Rude Boy,1980,Margaret Thatcher,actress,Herself,NaN
3696082,John & Marsha '80,1980,Myrna Velasco,actress,Royal Blood Assistant,NaN
3696083,John & Marsha '80,1980,Myrna Velasco,actress,Diva,NaN
3581066,Ekipazh,1980,Mariya Skvortsova,actress,Yevdokiya Petrovna Mishakova,NaN
2731264,The Wildcats of St. Trinian's,1980,Ellen Cheshire,actress,Extra,NaN
...,...,...,...,...,...,...
3435955,Avatar 5,2025,CCH Pounder,actress,Moat,NaN
2482031,Avatar 5,2025,Sam Worthington,actor,Jake Sully,NaN
2724388,100 Years,2115,Shuya Chang,actress,Hero Girl,NaN
1415428,100 Years,2115,John Malkovich,actor,Hero,NaN
2516044,100 Years,2115,Marko Zaror,actor,Bad Guy,NaN

In [106]:
len(nanRoles)

1014692

In [107]:
len(cast)

3786176